/** { border: 1px solid #ff0000; }*/

html {
    scroll-behavior: smooth;
}

html.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #F8F8F8;
    --color-text-primary: #000000;
    --color-text-secondary: #7D7987;
    --color-text-header: #B8BECD;
    --color-text-footer: #848484;
    --svg-invertion: invert(0);
}

html.dark {
    --color-background-primary: #000000;
    --color-background-secondary: #111111;
    --color-text-primary: #ffffff;
    --color-text-secondary: #a4a2a9;
    --color-text-header: #B8BECD;
    --color-text-footer: #a6a6a6;
    --svg-invertion: invert(0.7);
}

* {
    transition: all 0.3s ease-in-out;
}

/*BODY*/
body {
    background-color: var(--color-background-primary);
    margin: 0;
}


/*HEADER*/
header {
    overflow: hidden;
    padding: 10px 10px;
    position: sticky;
    background-color: var(--color-background-primary);
    margin-top: 30px;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

header .container {
    width: 78vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--color-text-header);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

header a:first-child {
    margin-left: -10px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .login, header .register, .app .download {
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    margin-left: 14px;
}

header .register, .app .download {
    background-color: #FB8F1D;
    color: #fff;
}

header .register:hover, header .login:hover {
    transform: scale(1.05);
}

header .login {
    color: #FB8F1D;
    background-color: transparent;
}

header a:hover {
    color: #FB8F1D;
}

header a.active {
    color: var(--color-text-primary);
}

.header-left {
    width: 340px;
}

.header-right {
    width: 340px;
    display: inline;
    text-align: right;
}


.theme_toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    position: absolute;
    top: calc(50% - 16px);
    margin-top: 0;
    right: 1%;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background: #252525;
    transition: background-color ease 0.3s;
}
.theme_toggle::before {
    content: url("https://shivanarrthine.com/public/images/icons/moon.svg");
    display: block;
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    background: #5e5e5e;
    left: 5px;
    top: 4px;
    border-radius: 50%;
    text-indent: 4px;
    line-height: 32px;
    word-spacing: 37px;
    white-space: nowrap;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
.theme_toggle:checked {
    background-color: #eaeaea;
    border-color: #fff;
}
.theme_toggle:checked::before {
    left: 33px;
    content: url("https://shivanarrthine.com/public/images/icons/sun.svg");
    background: #fff;
}


/*SECTION [HOME]*/
#home {
    width: 100%;
    justify-content: center;
    display: flex;
}

#home .container {
    width: 75vw;
    margin: 15vh auto 10vh;
    height: calc(75vh - 90px);
    justify-content: center;
    display: flex;

}

#home .app {
    max-width: 481px;
    margin-top: 100px;
    margin-right: 100px;
}

#home .app h1 {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

#home .app p {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--color-text-secondary);
    font-family: 'Mulish', sans-serif;
}

.app .download {
    font-weight: 400;
    left: 0;
    margin-left: 0;
    margin-top: 10px;
    width: 164px;
    height: 48px;
}

.app .download:hover {
    transform: scale(1.05);
}

.home .image img {
    max-height: 100%;
}


/*SECTION [TESTIMONIALS]*/
#testimonials {
    background-color: var(--color-background-secondary);
    height: 100vh;
}

#testimonials h1 {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    padding-top: 160px;
    padding-bottom: 30px;
}

.container {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.testimonials-content{
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    margin-top: 80px;
}

.rating img {
    width: 23px;
    margin-right: 15px;
}

.testimonial-text {
    color: var(--color-text-primary);
    width: 550px;
    transition: none;
}

.testimonial-description{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    width: 80%;
    line-height: 36px;
}
.author {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
.job-title {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.photo img{
    border-radius: 10px;
    width: 350px
}


/*SECTION [TRENDING STORIES] */
#trending-stories {
    height: 100vh;
}

#trending-stories .section-header {
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    transition: none;
}

#trending-stories .section-header h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.view-all {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #FB8F1D;
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
    background-image: url(
        "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' \
        width='7' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' \
        transform='translate(-8.59 -6)' fill='%23FB8F1D'/%3E%3C/svg%3E"
    );
    background-repeat: no-repeat;
    background-position: right 5px bottom 4px;
    transition: background-position 0.2s ease-in-out;
}

.view-all:hover {
    background-position: right 0 bottom 4px;
}

.trending-stories .container{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.stories{
    display: flex;
    grid-gap: 23px;
    justify-content: center;
    margin-top: 30px;
}

.story {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.story img{
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 210px;
}

.story-title{
    color: var(--color-text-primary);
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.story-description {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: var(--color-text-secondary);
    margin-bottom: 20px;
}

.read-more{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FB8F1D;
    text-decoration: none;
}


/*FOOTER*/
footer {
    background-color: var(--color-background-secondary);
    display: inline-block;
    width: 100%;
}

.container {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-content a {
    display: flex;
    align-items: center;
}

.copyright {
    font-family: "Mulish", sans-serif;
    color: var(--color-text-footer);
    font-size: 16px;
    font-weight: 200;
}

.social-media {
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    border-top: 1px solid #C4C4C4;
    padding-top: 30px;
    padding-bottom: 20px;
}

.link img {
    width: auto;
    filter: var(--svg-invertion);
}