/** { border: 1px solid #ff0000; }*/

@import "header.css";
@import "home.css";
@import "testimonials.css";
@import "trending_stories.css";
@import "footer.css";

@import "media_queries.css";

html {
    scroll-behavior: smooth;
    --app-height: 100%;
}

html.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #F8F8F8;
    --color-text-primary: #000000;
    --color-text-secondary: #7D7987;
    --color-text-header: #B8BECD;
    --color-text-footer: #848484;
    --svg-invertion: invert(0);
}

html.dark {
    --color-background-primary: #000000;
    --color-background-secondary: #111111;
    --color-text-primary: #ffffff;
    --color-text-secondary: #a4a2a9;
    --color-text-header: #B8BECD;
    --color-text-footer: #a6a6a6;
    --svg-invertion: invert(0.7);
}

* {
    transition: all 0.3s ease-in-out;
}

/*BODY*/
body {
    background-color: var(--color-background-primary);
    margin: 0;
    overflow-x: hidden;
}
